@import "tailwindcss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}
/* header */
/* .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 20px;
    font-size: 24px;
}
.logo{
   
    border-radius: 50%;
} */

/* all .restaurant */

.res-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 1rem;
}

/* resCard */
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  border-radius: 10px;
  padding: 15px;
}
.card:hover {
  cursor: pointer;
}
.image-container {
  margin: auto;
  position: relative;
  width: 100%;
  height: 200px;
  margin: 5px 0;
}
.food {
  border-radius: 15px;
  position: relative;
    width: 100%;
    height: 100%;
}
.name-rating {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.restaurant {
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 500;
  margin: 0;
}
.rating {
  padding: 0.3rem 0.5rem;
  color: #20963c;
  border: 1px solid #f0f0f0;
  background: white;
  border-radius: 5px;
  width: 60px;
}
.rating-icon {
  margin-right: 0.3rem;
}
.cuisines {
  font-size: small;
  color: #5d5d5d;
  margin: 0.5rem 0;
}
.promoted {
  position: absolute;
  padding: 3px 5px;
  margin-left: 20px;
  border-radius: 5px;
  color: wheat;
  font-size: 1rem;
  background: green;

  z-index: 2;
  
}
.offer {
  position: absolute;
  bottom: 0;
  background-color: #266fef;
  color: #fff;
  padding: 1px 10px;
}
.delivery-time {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
  font-size: 1rem;
  background-color: #fff;
  margin-right: 15px;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.max-safety {
  display: flex;
}

.container {
  height: fit-content;
  background-color: #3c9e89;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  font-size: 12px;
  position: relative;
  border-radius: 5px;
  margin-right: 10px;
}
.safety {
  background-color: #f6af77;
  width: 90%;
  padding: 2px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 3px auto 0 auto;
}
.delivery {
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 4px;
}
.about-safety {
  color: #717070;
  font-size: small;
}

@media screen and (max-width: 300px) {
  .card {
    width: 90vw;
  }
 
}

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.filter-btn{
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;

}
.login{
    padding: 10px;
    background-color: #faba31;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius:5px;

}
/* Res Card shimmer */

/* shimmer base styles */
.shimmer-animate {
  background: linear-gradient(
    to right,
    #eeeeee 0%,
    #dddddd 50%,
    #eeeeee 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* shimmer card layout */
.shimmer-card {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}

/* shimmer elements */


.shimmer-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.shimmer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shimmer-line {
  height: 15px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.shimmer-line.short {
  width: 60%;
}

.shimmer-line.tiny {
  width: 90px;
  height: 10px;
}

.shimmer-box {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.shimmer-safety {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error-container img{
  width: 300px;
  height: 300px;
}

/* Menu Css */
.menu-container {
  max-width: 750px;
  margin: 40px auto;
  padding: 24px 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #282c3f;
}

.menu-container h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4px;
}

.menu-container h2 {
  font-size: 16px;
  color: #686b78;
  font-weight: 400;
  margin: 4px 0;
}

.menu-container h3 {
  font-size: 14px;
  color: #3d9b6d;
  margin-top: 4px;
  font-weight: 500;
}

.menu-item {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e9e9eb;
}

.menu-item li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #02060c;
}

.menu-item p {
  font-size: 14px;
  color: #535665;
  margin: 4px 0;
}


.custom-link {
  text-decoration: none;
  color: inherit;
}
.custom-link:hover {
  color: #fc8019; /* Swiggy orange */
}

li{
  cursor: pointer;
}
